.hero {
	position: relative;
	background: url("../img/Background.png") center/cover no-repeat;
	color: $white;
	width: 100%;
	padding: 0px 177px;
	overflow: hidden;

.hero__overlay {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero__content.container {
	display: flex;
	flex-direction: column;
	margin-top: 85px;
	margin-left: 0px;
	padding: 0px;
	gap: 40px;
	margin-bottom: 23px;
}

.hero__label {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 24px;
	width: 132px;
	height: 48px;
	background: rgba(28, 46, 61, 0.397);
	color: $white;
}

.hero__title {
	font-size: 80px;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 1;
	letter-spacing: -2px;
}

.hero__text {
	font-size: 14px;
	line-height: 1;
	opacity: 0.85;
	max-width: 500px;
}

.hero__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $red;
	padding: 8px 16px;
	border-radius: 8px;
	width: 274px;
	height: 80px;
	color: $white;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 700;
	transition: background 0.3s;
	margin-top: 44px;

.hero__media {
	gap: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	gap: 0px;
	height: auto;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero__lower {
	display: flex;
	height: 400px;
	width: auto;
	flex-direction: row;
	justify-content: space-between;
}

.hero__media-inner {
	background-color: $lightblue;
	width: auto;
	justify-content: space-between;
	text-align: center;
	position: relative;
}

.hero__image {
	height: auto;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 8px 8px 0px 0px;
}

.hero__play {
	position: absolute;
	top: 30%;
	left: 50%;
	background: none;
}

.hero__caption {
	display: flex;
	justify-content: space-between;
	height: auto;
	font-size: 14px;
	padding: 50px 50px;
	background-color: $lightblue;
	color: $white;
	border-radius: 0px 4px 0px 0px;
}

.hero__search {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	bottom: 0px;
	flex-grow: 1;
	height: auto;
	width: auto;
}

.hero__search-inner {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	background: $white;
	margin: 0 auto;
	width: 100%;
	height: 120px;
	overflow: hidden;
}

.hero__input {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	width: auto;
	outline: none;
	font-size: 14px;
	padding: 52px 0px 52px 56px;
}

.hero__search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 18px;
	color: $black;
	padding: 51px 59px 51px 0px;
	width: auto;

	.hero__media {
		align-items: end;
		justify-content: end;
		flex-direction: column;
	}

	.hero {
		padding: 0px 100px;
	}

	.hero__title {
		font-size: 50px;
	}

	.hero__search-inner {
		height: 70px;
		border-radius: 8px;
	}

	.hero__lower {
		display: flex;
		height: auto;
		width: 100%;
		align-items: center;
		justify-content: center;
		gap: 30px;
		flex-direction: column;
	}

	.hero__search {
		display: flex;
		height: auto;
		width: 100%;
		align-items: center;
		justify-content: center;
		gap: 30px;
		flex-direction: column;
	}

	.hero__image {
		width: 100%;
		background-repeat: no-repeat;
	}

	.hero__media {
		width: 100%;
	}

	.hero__media-inner {
		width: 100%;
	}
}

	.hero {
		padding: 0px 60px;
	}

	.hero__content.container {
		margin-top: 70px;
	}
}

	.hero {

	.hero__content.container {
		margin-top: 40px;
	}

	.hero__caption {

	.hero__btn {
		width: 180px;
	}
}

	.hero {

	.hero__content.container {
		display: flex;
		flex-direction: column;
		margin: 30px 0px;
		justify-content: center;
		align-items: center;
	}

	.hero__title {
		font-size: 40px;
	}

	.hero__btn {
		width: 100%;
		height: 60px;
	}

	.hero__text {
		margin-bottom: 0px;
	}

	.hero__search-inner {
		display: none;
	}

	}
}
}