	.header {
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		padding: 52px 0px;
	}

	.header__container {
		display: flex;
		width: auto;
		justify-content: space-between;
		align-items: center;
	}

	.header__socials {
		display: flex;
		overflow: visible;
		width: 71px;
		height: 20PX;
		justify-content: space-between;
	}

	.header__social-link-one {

	.header__social-link-two {

	.header__logo {
		display: flex;
		letter-spacing: 2px;
		font-size: 22px;
		font-weight: 700;
		margin-right: 20px;
		color: $white;
		text-transform: uppercase;
	}

	.header__menu-btn {
		background: none;
		overflow: visible;
		border: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 6px;
	}

	.header__menu-line {
		display: block;
		width: 48px;
		height: 10px;
		background-color: $white;
	}
}

.card-header {
	display: flex;
}

	.header__socials {
		display: none;
	}

	.header__menu-btn {
		display: none;
	}

		.header__menu-btn {
			display: none;
		}

		.header__socials {
			display: none;
		}
		padding: 40px;
	}

	.header__container {
		padding: 20px 0px;
	}

		.header {
			padding: 0px;
			display: flex;
			justify-content: center;
		}
	
